#uap {
  background-color: rgb(38, 98, 98);
  height: 100vh;
}

#pre-user {
  border: none;
  color: rgb(252, 252, 252);
  font-weight: 600;
  cursor: pointer;
}
#pre-user:hover {
  background-color: rgba(197, 8, 49, 0.495);
}
.tds-pa-app {
  background-color: rgb(86, 0, 0);
  color: aliceblue;
}
