* {
  font-family: "Open Sans", sans-serif;
}

.doctor-main {
  background-color: antiquewhite;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.doctor-form-main {
  background-color: rgb(199, 158, 108);
  justify-items: center;
  width: 450px;
  height: 580px;
  margin: auto;
  position: relative;
  top: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}


.input-placeholder-d {
  width: 400px;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 20px;
}

.input-placeholder-r:hover {
  background-color: aliceblue;
}
.input-placeholder-r::placeholder {
  text-align: center;
}
.h3-doctor-form {
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  top: 10px;
}

.register-form-main-button {
  display: flex;
  background-color: black;
  width: 150px;
  text-align: center;
  justify-content: center;
}
.reg-back-btn {
  justify-self: center;
}
.register-back-button {
  margin-top: 10px;
  background-color: brown;
  width: 150px;
  border: none;
  height: 30px;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
.reg-back-btns button{
  display: flex;
  border: none;
  align-items: center;
  color: aliceblue;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  justify-self: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}


.sp-doct {
  text-align: center;
  font-size: 12px;  
}
.input-placeholder-a{
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.input-placeholder-a:hover{
    background-color: aliceblue;
}