.appointmentList-main-div{
    background-color: antiquewhite;
    height: 100vh;   
}
.table-appointmentlist{
    background-color: aliceblue;
    margin: auto;
}

.th-appointment{
    text-align: center;
    width: 200px;
    background-color: rgb(0, 33, 153);
    color: rgb(255, 255, 255);
    font-size: 14px; 
    font-weight: 400;
    height: 60px;
    border-left: 1px solid rgb(0, 0, 0);
}
.th-appointment:hover{
    background-color:rgb(16, 34, 99);
}
.td-appointment{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.td-appointment:hover{
    background-color: rgb(206, 211, 215);
}
.id-app-td{
    background-color: rgb(172, 194, 221);
    text-align: center;
}
.id-app-td:hover{
    background-color: rgb(65, 98, 126);
}
.status-complete{
    background: none;
    color: rgb(255, 0, 0);
    width: 100%;    
}
.status-complete:hover{
    background:none;
    background-color: red;
    border-radius: 0px;
    color: rgb(255, 255, 255);
}
.appointmentList-main-div table td{
  border-bottom: 1px solid black;
}

.apt-link-u{
    background: none;
    color: rgb(255, 0, 0);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5% 28%;
    width: auto;
}
.apt-link-u:hover{
    background:none;
    background-color: red;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
}

 .id-app-tds{
    text-align: center;
    cursor: pointer;
    background-color: rgb(172, 194, 221);

}
.id-app-tds:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
} 
.ap-h1-l-m{
    text-align: center;
    color: rgb(1, 50, 93);
}
.back-admin-dash{
    display: flex;
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    width: 65px;
}