@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&family=Winky+Sans:ital,wght@1,300..900&display=swap");

.home-main-page-div {
  font-family: "Open Sans", sans-serif;
   background-image: url("../../assets/doctorgroup.jpg");
   display: flex;
   background-position: cover;
   background-size: cover;
   min-height: 100vh;
}


.appinment-button-homes{
  text-decoration: none;
  color: black;
  background-color: rgb(26, 135, 133);
  height: 60px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  color: aliceblue;
}


.appinment-button-home{
  background-color: aquamarine;
  height: 60px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.home-page-footer{
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
  margin-top: auto;
  text-align: center;
  
}

.titlecolor{
color: rgb(82, 146, 125);
}
#supportline{
color: rgb(0, 0, 0);
margin-top: 20px;
text-align: center;
font-size: medium;
}


.titlecolor {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
}
.home-page-footer{
  margin-top:100vh;
  text-align: center;

}



#first {
  padding: 40px;
}
@media (max-width: 800px) {
  .whole {
      width: 90%;
      height: 70%;
      margin: 10px auto;
      flex-direction: column;
  }

  .home-main-page-div {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 80vh;
      flex-direction: column;
      padding: 20px;
  }

  .appinment-button-homes,
  .appinment-button-home {
      width: 150px;
      height: 50px;
      margin: 10px auto;
  }

  .home-page-footer {
    padding: 15px;
    font-size: 14px;
    position: relative;
    width: 100%;
}

  .titlecolor {
      font-size: 24px;
  }
}
