@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&family=Winky+Sans:ital,wght@1,300..900&display=swap");

.home-main-page-div {
  font-family: "Open Sans", sans-serif;
   
}


.appinment-button-homes{
  text-decoration: none;
  color: black;
  background-color: rgb(26, 135, 133);
  height: 60px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  color: aliceblue;
}


.appinment-button-home{
  background-color: aquamarine;
  height: 60px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .whole {
    width: 90%;
    height: 70%;
    margin: 10px auto;
    flex-direction: column;
  }
}

.titlecolor {
  margin-top: 500px;
  height: 80px;
  text-align: center;
  color: black;
}
.titlecolor h2 {
  height: 50px;
  font-size: 50px;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 13px;
  padding-left: 4px;
  font-weight: bolder;
  text-decoration: underline;
}
.divider {
  margin-top: 20px;

  margin-top: 10px;
}
#supportline {
  text-align: center;
  font-size: small;
}
.image-container {
  margin-left: 250px;
  margin-top: 100px;
}
#first {
  padding: 25px;
}
