@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&family=Winky+Sans:ital,wght@1,300..900&display=swap");

.join-div-h1 {
  text-align: center;
  color: rgb(103, 77, 30);
}

.f-para {
  text-align: center;
  font-weight: 600;
  color: #9a1010;
}
.benefits-para {
  font-size: large;
  color: black;
  text-decoration: underline;
}
.contain-benefits {
  margin-top: 5px;
  font-size: 13px;
}
.contain-join {
  margin-top: 5px;
  font-size: 13px;
}
.benefits-div {
  background-color: rgb(38, 106, 143);
  color: rgb(255, 255, 255);
  width: 40%;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: auto;
  position: relative;
  margin-right: 30px;
  box-shadow: 0px 2px 10px black;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  cursor: pointer;
}
.benefits-div:hover {
  background-color: rgb(27, 65, 85);
  box-shadow: 0px 10px 10px black;
}
.membership-div-matter {
  background-color: rgb(38, 106, 143);
  width: 40%;
  min-height: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px black;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
}
.membership-div-matter:hover {
  background-color: rgb(27, 65, 85);
  box-shadow: 0px 10px 10px black;
}
.contain-membership {
  margin-top: 5px;
  font-size: 13px;
}
.join-div {
  background-color: rgb(38, 106, 143);
  color: rgb(255, 255, 255);
  width: 40%;
  min-height: 120px;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: auto;
  position: relative;
  box-shadow: 0px 2px 10px black;
  margin-right: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.join-div:hover {
  background-color: rgb(27, 65, 85);
  box-shadow: 0px 10px 10px black;
}

/* parent div */
.matter-div {
  background-color: #74c7c7bb;
  /* background: linear-gradient(to right, #dfeeff, #58acfa);  */
  min-width: 100%;
  min-height: 700px;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 800px) {
  .benefits-div,
  .membership-div-matter,
  .join-div {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
